body {
    background-color: rgb(10, 12, 16);
    margin-bottom: 0;
    margin-top: 0;

    border-bottom-color: rgb(122, 130, 142);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-style: solid;
    border-bottom-width: 1.11111px;
    box-sizing: border-box;
    color: rgb(240, 243, 246);
    color-scheme: dark;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: -1px;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    word-wrap: break-word;
}

.Box-body {
    width: 80%;
    border: 1px solid white;
    /* This centers the Box-body element horizontally */
    margin: 0 auto;
    /* This aligns the text to the left within the centered div */
    text-align: left;
    border-radius: 6px;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    text-align: left;
}

.markdown-body {
    font-size: 16px;
}

.footer {
    margin-top: 40px;
    padding-bottom: 8px;
    padding-top: 40px;
    position: relative;
}

h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid;
    border-bottom-color: rgb(122, 130, 142);
    margin: 0.67em 0;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
    box-sizing: border-box;
}


h2 {
    border-bottom-color: rgb(122, 130, 142);
    border-bottom-style: solid;
    border-bottom-width: 1.11111px;
    box-sizing: border-box;
    color: rgb(240, 243, 246);
    color-scheme: dark;
    display: block;
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Noto Sans",
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji";
    font-size: 24px;
    font-weight: 600;
    height: 38.2812px;
    line-height: 30px;
    margin-block-end: 16px;
    margin-block-start: 24px;
    margin-bottom: 16px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-top: 24px;
    padding-bottom: 7.2px;
}

h3 {
    box-sizing: border-box;
    color: rgb(240, 243, 246);
    color-scheme: dark;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 20px;
    font-weight: 600;
    height: 25px;
    line-height: 25px;
    margin-block-end: 16px;
    margin-block-start: 24px;
    margin-bottom: 16px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-top: 24px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
}

h4 {
    box-sizing: border-box;
    color: rgb(240, 243, 246);
    color-scheme: dark;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    margin-block-end: 16px;
    margin-block-start: 24px;
    margin-bottom: 16px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-top: 24px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;

}

h5 {
    box-sizing: border-box;
    color: rgb(240, 243, 246);
    color-scheme: dark;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    height: 17.4826px;
    line-height: 17.5px;
    margin-block-end: 16px;
    margin-block-start: 24px;
    margin-bottom: 16px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-top: 24px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
}

h6 {
    box-sizing: border-box;
    color: rgb(240, 243, 246);
    color-scheme: dark;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 13.6px;
    font-weight: 600;
    height: 16.9792px;
    line-height: 17px;
    margin-block-end: 16px;
    margin-block-start: 24px;
    margin-bottom: 16px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-top: 24px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
}

code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: rgba(158, 167, 179, 0.4);
    border-radius: 6px;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    box-sizing: border-box;
    line-height: 1.5;
    word-wrap: break-word;

}

a {
    color: rgb(113, 183, 255);
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

img {
    max-width: 100%;
    box-sizing: content-box;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

blockquote {
    color: rgb(240, 243, 246);
    border-left-color: rgb(122, 130, 142);
    border-left-style: solid;
    border-left-width: 4px;
    box-sizing: border-box;
    margin: 0;
    display: block;

    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-bottom: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;

    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0px;

}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    color: rgb(240, 243, 246);
    background-color: rgb(39, 43, 51);
    border-radius: 6px;
    word-wrap: normal;
    margin-top: 0;
    margin-bottom: 16px;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    box-sizing: border-box;
    display: block;
    white-space-collapse: preserve;
    text-wrap: nowrap;
    margin: 1em 0px;
}

pre code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
    word-break: normal;
    white-space: pre;
    background: transparent;
    font-size: 100%;
    border-radius: 6px;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    box-sizing: border-box;
}

hr {
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: rgb(122, 130, 142);
    border: 0;
    overflow: hidden;
    box-sizing: content-box;
    color: rgb(240, 243, 246);

}

/*
.markdown-body table {
    display: block;
    width: 100%;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-color: gray;
    border-spacing: 0;
    border-collapse: collapse;
}
*/

.markdown-body table {
    border: 1.333px solid rgb(122, 130, 142);
    color: rgb(240, 243, 246);
    border-collapse: collapse;
}

.markdown-body th {
    border: 1.333px solid rgb(122, 130, 142);
    color: rgb(240, 243, 246);
    padding-bottom: 6px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 6px;
}

.markdown-body tr {
    border: 1.333px solid rgb(122, 130, 142);
    color: rgb(240, 243, 246);
    padding-bottom: 6px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 6px;
}

.markdown-body td {
    border: 1.333px solid rgb(122, 130, 142);
    color: rgb(240, 243, 246);
    padding-bottom: 6px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 6px;
}

.markdown-body table tr {
    background-color: rgb(10, 12, 16);
}

.markdown-body table tr:nth-child(2n) {
    background-color: rgb(39, 43, 51);
}

/*
p {}

ul {}

ol {}

li {}

span {}

div {}

table {}
*/